<div class="content col-xs-2 col-sm-2 col-md-2 col-lg-2">

	<a data-ng-href="/#/home" class="btn btn-strom btn-block">
		<img src="icons/home.png" class="menu-icon"></img>
		HOME
	</a>
	<a data-ng-href="/#/posting" class="btn btn-strom btn-block">
		<img src="icons/posting.png" class="menu-icon"></img>
		LANÇAMENTOS
	</a>
	<a data-ng-href="/#/reports" class="btn btn-strom btn-block">
		<img src="icons/report.png" class="menu-icon"></img>
		RELATORIOS
	</a>
	<a data-ng-href="/#/analysis" class="btn btn-strom btn-block">
		<img src="icons/helpFin.png" class="menu-icon"></img>
		ANALISES
	</a>
	<a data-ng-href="/#/entries" class="btn btn-strom btn-block">
		<img src="icons/entries.png" class="menu-icon"></img>
		CADASTROS
	</a>
 
</div>