<div class="center-pane col-xs-10 col-sm-10 col-md-10 col-lg-10">
    <ul>
        <li class="items" data-ng-click="show( 0 )">
            <i class="fa fa-user" align="center" ></i>
            <h3>Usuários</h3>
            <p>Ferramenta para cadastrar, editar, excluir e visualizar os usuários do sistema.</p>
        </li>
        
        <li class="items" data-ng-click="show( 1 )">
            <i  align="center" class="fa fa-building" ></i>
            <h3>Entidades</h3>
            <p>Ferramenta para cadastrar, editar, excluir e visualizar as empresas que serão utilizadas na manutenção dos lançamentos.</p>
        </li>
        
        <li class="items" data-ng-click="show( 2 )">
            <i align="center" class="fa fa-check"></i>
            <h3>Tipos de Finalizações</h3>
            <p>Ferramenta para cadastrar, editar, excluir e visualizar os tipos de finalizações que serão utilizados ao encerrar um lançamentos.</p>
        </li>
        
        <li class="items" data-ng-click="show( 3 )">
            <i align="center" class="fa fa-sitemap"></i>
            <h3>Categorias Lançamentos</h3>
            <p>Ferramenta para cadastrar, editar, excluir e visualizar as categorias que serão utilizados nos lançamentos.</p>
        </li>
        
        <li class="items" data-ng-click="show( 4 )">
            <i align="center" class="fa fa-code-fork"></i>
            <h3>Tipos Lançamentos</h3>
            <p>Ferramenta para cadastrar, editar, excluir e visualizar os tipos que serão utilizados nas categorias de lançamentos.</p>
        </li>
    </ul>
</div>