 <div class="center-pane col-xs-10 col-sm-10 col-md-10 col-lg-10">
     <ul>
        <li class="items">
            <i  align="center" data-ng-click="show( 0 )" class="fa fa-pencil-square-o"></i>
            <h3>Lançamentos</h3>
            <p>Relatório de Lançamentos.</p>
       </li>

        <li class="items" data-ng-click="show( 1 )">
            <i align="center" class="fa fa-user"></i>
            <h3>Usuários</h3>
            <p>Relatório de Usuários.</p>
        </li>
        
        <li class="items" data-ng-click="show( 2 )" >
            <i align="center" class="fa fa-building" ></i>
            <h3>Entidades</h3>
            <p>Relatório de Enitidades.</p>
        </li>
        
        <li class="items" data-ng-click="show( 3 )" >
            <i align="center"  class="fa fa-check"></i>
            <h3>Tipos de Finalizações</h3>
            <p>Relatório de Tipos de Finalizações.</p>
        </li>
        
        <li class="items" data-ng-click="show( 4 )" >
            <i align="center" class="fa fa-sitemap"></i>
            <h3>Categorias Lançamentos</h3>
            <p>Relatório de Categorias de Lançamentos.</p>
        </li>
    </ul>
</div>

