@main-color-light 2: #cfd8dc

.jumbotron {
  width: 400px;
  text-align: center;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}
.table {
  margin-top: 20px;
}
.tr {
  cursor: pointer;
  color: #607D8B;
  font-weight: bold;
  font-size: 14px;
}
.form-group {
  margin-bottom: 2px;
}
.trselected {
  background-color: #607D8B !important;
  color: #ECEFF1;
}
.navbar {
  background-color: #607D8B;
  margin-bottom: 10px;
  color: #ECEFF1;
}
.navbar-brand {
  color: #ECEFF1 !important;
}
.tab-content {
  margin-top: 15px;
}
.nav-tabs,
.nav-tabs:hover {
  cursor: pointer;
  border-bottom: 1px solid #607D8B;
}
.nav-tabs > li > a:hover {
  border-color: transparent;
}
.nav > li > a:focus,
.nav > li > a:hover {
  text-decoration: none;
  background-color: transparent;
}
.nav-tabs > li > a {
  color: #607D8B !important;
}
.nav-tabs > li.active > a {
  color: #607D8B !important;
  cursor: pointer;
  background-color: #ECEFF1 !important;
  border: 1px solid #607D8B !important;
  border-bottom-color: transparent !important;
  font-weight: bold;
}
.form-control {
  margin-bottom: 5px;
}
.panel {
  height: 100%;
  background: #ECEFF1;
}
.panel-body {
  padding: 0px;
  background-color: #ECEFF1;
}
.panel-footer {
  background-color: #ECEFF1;
  border: none;
  bottom: 0px;
  position: fixed;
}
.panel-lengend {
  background-color: #ECEFF1;
  border: none;
  color: #607D8B;
  font-weight: bold;
  font-size: 12px;
  margin-right: 25px;
}
.panel-heading {
  padding: 0px;
  cursor: pointer;
}
.panel-primary {
  border: none;
}
.panel-primary > .panel-heading {
  color: #607D8B;
  background-color: #ECEFF1;
  border: none;
}
.panel-heading > .table,
.panel-heading > .table th {
  margin: 0px;
  border-color: #607D8B;
  color: #607D8B;
  font-weight: bolder;
  font-size: 22px;
}
.panel {
  height: auto;
}
.btn:focus {
  outline: none !important;
}
.btn-icon {
  width: 20px;
}
.lengend-icon {
  width: 15px;
}
.menu-icon {
  width: 60px;
}
.modal-content {
  background-color: #ECEFF1;
  color: #607D8B;
}
.modal .fade .modal-dialog {
  width: 80% !important;
  height: 80%;
}
.center-pane {
  padding: 0px !important;
  overflow-y: auto;
  height: 100%;
}
.btn-strom {
  color: #455a64 !important;
  background-color: #ECEFF1;
  border: 2px solid #607D8B !important;
  font-weight: bold !important;
  border-radius: 10px !important;
  font-size: 10px !important;
  text-align: left !important;
  padding: 3px 6px !important;
}
.btn-strom:hover {
  color: #455a64 !important;
  background-color: #ECEFF1;
  border: 2px solid #607D8B;
  font-weight: bold !important;
  border-radius: 10px !important;
  font-size: 10px !important;
  text-align: left !important;
}
.modal-body {
  padding-bottom: 0px !important;
}
.panel-left {
  padding-left: 10px !important;
  padding-right: 10px !important;
}
.items h3 {
  font: bold 20px/1.5 Helvetica, Verdana, sans-serif;
  margin: 0px !important;
}
.items i {
  float: left;
  margin: 0 15px 0 0;
  font-size: 3em !important;
  width: 100px;
}
.items p {
  font: 200 12px/1.5 Georgia, Times New Roman, serif;
  text-align: justify;
}
.items:hover {
  background: #607D8B;
  color: #ECEFF1;
  cursor: pointer;
  border-radius: 25px;
}
.items {
  padding: 20px 5px 20px 5px;
  color: #607D8B;
  overflow: auto;
  width: 98%;
}
.sub-items {
  margin-left: 10%;
  width: 88%;
  display: none;
}
.item-selector {
  width: 100%;
}
.item-selector-label {
  width: 100%;
  border: 1px solid #607D8B;
  margin: 0;
  border-radius: 7px;
  padding: 2 15;
  height: 25px;
  color: #607D8B;
}
.item-selector-btn {
  height: 32px;
  padding: 0px;
}
.item-selector-list {
  overflow: auto;
  height: 65%;
}
body {
  background-color: #ECEFF1;
  height: 100%;
  overflow: hidden;
}
ul {
  list-style-type: none;
  width: 100%;
  padding: 0px;
}
