.jumbotron {
    width: 400px;
    text-align: center;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}
.table {
    margin-top: 20px;
}

.tr {
    background-color: #fff;
    cursor: pointer;
}

.tr:hover {
    background-color: #c0c0c0;
}

.trselected {
    background-color: #337ab7 !important;
    color: #fff;
} 

.form-control {
    margin-bottom: 5px;
}
.panel-heading > .table, .panel-heading > .table th {
    margin:0px;
    border: 0px;
    color: whitesmoke;
    font-size: 18px;
}
.panel {
    height: auto;
}

.btn{
    text-align: center;
}
.modal .fade .modal-dialog {
    width: 80% !important;
    height: 80%;
}

.modal-body{
    padding-bottom: 0px !important;
}