.jumbotron {
  width: 400px;
  text-align: center;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}
.table {
  margin-top: 20px;
}
.tr {
  cursor: pointer;
  color: #607D8B;
  font-weight: bold;
  font-size: 14px;
}
.form-group {
  margin-bottom: 2px;
}
.trselected {
  background-color: #607D8B !important;
  color: #ECEFF1;
}
.navbar {
  background-color: #607D8B;
  margin-bottom: 10px;
  color: #ECEFF1;
}
.navbar-brand {
  color: #ECEFF1 !important;
}
.tab-content {
  margin-top: 15px;
}
.nav-tabs,
.nav-tabs:hover {
  cursor: pointer;
  border-bottom: 1px solid #607D8B;
}
.nav-tabs > li > a:hover {
  border-color: transparent;
}
.nav > li > a:focus,
.nav > li > a:hover {
  text-decoration: none;
  background-color: transparent;
}
.nav-tabs > li > a {
  color: #607D8B !important;
}
.nav-tabs > li.active > a {
  color: #607D8B !important;
  cursor: pointer;
  background-color: #ECEFF1 !important;
  border: 1px solid #607D8B !important;
  border-bottom-color: transparent !important;
  font-weight: bold;
}
.form-control {
  margin-bottom: 5px;
}
.panel {
  height: calc(100% - 100px) !important;
  overflow-x: auto;
  overflow-y: hidden;
  background: #ECEFF1;
}
.pane-center {
  height: 100%;
  padding-bottom: 100px;
}
.panel-body {
  padding: 0px;
  overflow-y: auto;
  overflow-x: hidden;
  height: calc(100% - 40px) !important;
  background-color: #ECEFF1;
}
.panel-footer {
  background-color: #ECEFF1;
  border: none;
  bottom: 0px;
  position: fixed;
}
.panel-lengend {
  background-color: #ECEFF1;
  border: none;
  color: #607D8B;
  font-weight: bold;
  font-size: 12px;
  margin-right: 25px;
}
.panel-heading {
  padding: 0px;
  cursor: pointer;
}
.panel-primary {
  border: none;
}
.panel-primary > .panel-heading {
  color: #607D8B;
  background-color: #ECEFF1;
  border: none;
}
.panel-heading > .table,
.panel-heading > .table th {
  margin: 0px;
  border-color: #607D8B;
  color: #607D8B;
  font-weight: bolder;
  font-size: 22px;
}
.btn:focus {
  outline: none !important;
}
.btn-icon {
  width: 20px;
}
.lengend-icon {
  width: 15px;
}
.menu-icon {
  width: 60px;
}
.modal-content {
  background-color: #ECEFF1;
  color: #607D8B;
}
.modal .fade .modal-dialog {
  width: 80% !important;
  height: 80%;
}
.center-pane {
  padding: 0px !important;
  overflow-y: auto;
  height: 100%;
}
.btn-strom {
  color: #455a64 !important;
  background-color: #ECEFF1;
  border: 2px solid #607D8B !important;
  font-weight: bold !important;
  border-radius: 10px !important;
  font-size: 10px !important;
  text-align: left !important;
  padding: 3px 6px !important;
}
.btn-strom:hover {
  color: #455a64 !important;
  background-color: #ECEFF1;
  border: 2px solid #607D8B;
  font-weight: bold !important;
  border-radius: 10px !important;
  font-size: 10px !important;
  text-align: left !important;
}
.modal-body {
  padding-bottom: 0px !important;
}
.panel-left {
  padding-left: 10px !important;
  padding-right: 10px !important;
}
.items h3 {
  font: bold 20px/1.5 Helvetica, Verdana, sans-serif;
  margin: 0px !important;
}
.items i {
  float: left;
  margin: 0 15px 0 0;
  font-size: 3em !important;
  width: 100px;
}
.items p {
  font: 200 12px/1.5 Georgia, Times New Roman, serif;
  text-align: justify;
}
.items:hover {
  background: #607D8B;
  color: #ECEFF1;
  cursor: pointer;
  border-radius: 25px;
}
.items {
  padding: 20px 5px 20px 5px;
  color: #607D8B;
  overflow: auto;
  width: 98%;
}
.sub-items {
  margin-left: 10%;
  width: 88%;
  display: none;
}
.item-selector {
  width: 100%;
}
.item-selector-label {
  width: 100%;
  border: 1px solid #607D8B;
  margin: 0;
  border-radius: 7px;
  padding: 6px 15px;
  height: 34px;
  color: #607D8B;
  background: #fff;
  font-size: 15px;
}
.item-selector-btn {
  height: 40px;
  padding: 0px;
}
.item-selector-list {
  overflow: auto;
  height: 65%;
}
.col-sm-4-form {
  padding: 0px;
}
.col-sm-2-form {
  width: 14%;
}
body {
  background-color: #ECEFF1;
  height: 100%;
  overflow: hidden;
}
ul {
  list-style-type: none;
  width: 100%;
  padding: 0px;
}
.icon-upload {
  margin: 10px 5px 0 0;
  font-size: 30px;
  color: #607D8B !important;
}
.icon-loading {
  font-size: 45px;
  color: #607D8B !important;
  margin: 36px;
}
.upload {
  position: absolute;
  top: 0;
  right: 0;
  left: 0px;
  margin: 0;
  padding: 0;
  font-size: 20px;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
}
.file-list {
  cursor: pointer;
  border-radius: 8px;
  padding-left: 10px;
  padding-bottom: 10px;
  font-weight: bold;
}
.file-list-selected {
  background-color: rgba(69, 90, 100, 0.2);
}
.field {
  font-weight: bolder;
  color: #263238;
  padding: 5px 15px 5px 20px;
  width: 20%;
  border-radius: 10px;
  background: #90A4AE;
  font-size: 12px;
}
.value {
  padding: 8px;
  color: #37474F;
  font-weight: bolder;
  border-radius: 10px;
  background: #CFD8DC;
  font-size: 12px;
  width: 80%;
}
.head {
  padding: 10px 10px 0px 10px;
  font-size: 25px;
  text-align: left;
  color: #37474F;
  font-weight: bolder;
  width: 100%;
}
.info {
  padding-left: 50px;
  font-size: 14px;
  text-align: left;
  width: 100%;
  padding-bottom: 10px;
}
.mytooltip {
  background: transparent;
  border: none;
  color: #607D8B;
  position: absolute;
  right: 55px;
  margin: 4px;
}
.mytooltip > i:hover {
  color: #90A4AE;
  cursor: pointer;
}
.mytooltip .mytooltiptext {
  visibility: hidden;
  width: 100px;
  background-color: #607D8B;
  color: #ECEFF1;
  text-align: center;
  padding: 5px 0;
  border-radius: 10px;
  font-size: 10px;
  position: absolute;
  z-index: 1;
}
.mytooltip:hover .mytooltiptext {
  visibility: visible;
}
.drop-box {
  border-radius: 8px;
  height: 100%;
  overflow: auto;
  padding-top: 10px;
  border: 3px dashed #607D8B;
}
.dragover {
  border: 4px dashed #455a64;
  background-color: rgba(69, 90, 100, 0.2);
}
.preload {
  top: 0;
  height: 100% !important;
  width: 100% !important;
  z-index: 10000000000000000000 !important;
  background: #607D8B !important;
  position: fixed;
  opacity: 0.7;
  display: none;
}
.preload-center {
  color: #ECEFF1;
  border-radius: 10px;
  position: fixed;
  top: 50%;
  z-index: 500000;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-left: -36px;
  margin-top: -42x;
}
.login-center {
  color: #607D8B;
  position: fixed;
  top: 50%;
  left: 50% !important;
  transform: translate(-50%, -75%);
}
.btn-login {
  color: #ECEFF1 !important;
  background-color: #607D8B;
  border: 2px solid #607D8B !important;
  font-weight: bold !important;
  border-radius: 10px !important;
  margin-top: 7px;
}
#error-login {
  font-weight: bold;
  padding: 2px 12px;
  border-radius: 10px;
  display: none;
}
.pagination {
  bottom: 0px;
  position: fixed;
  transform: translateX(50%);
  margin-bottom: 2px !important;
}
.title-login {
  text-align: center;
  font-size: 40px;
  font-weight: bold;
}
.card {
  padding-top: 5px;
  height: 70px !important;
  background-color: rgba(96, 125, 139, 0.13);
  border: 2px solid #607D8B;
  margin: 20px;
  border-radius: 10px;
}
.card-hand {
  font-size: 50px;
}
.card-hand-cost {
  color: #d9534f;
}
.card-hand-revenue {
  color: #5cb85c;
}
.card-title {
  font-weight: bold;
  color: #607D8B;
  padding-top: 5px;
}
.card-revenue {
  font-weight: bold;
  color: #5cb85c;
}
.card-cost {
  font-weight: bold;
  color: #d9534f;
}
figure {
  width: 128px;
  height: 111px;
  background-color: #ffffff;
  border-radius: 10px;
  position: relative;
}
figure:before {
  content: '';
  display: block;
  width: 128px;
  height: 69px;
  border-radius: 10px 10px 0 0;
  background-image: -webkit-linear-gradient(white 0%, #edeeef 100%);
  background-image: -moz-linear-gradient(white 0%, #edeeef 100%);
  background-image: -o-linear-gradient(white 0%, #edeeef 100%);
  background-image: linear-gradient(white 0%, #edeeef 100%);
}
figure header {
  width: 128px;
  height: 27px;
  position: absolute;
  top: -1px;
  background-color: #607D8B;
  border-radius: 10px 10px 0 0;
  border-bottom: 3px solid #ECEFF1;
  font: 600 20px/27px Arial, Helvetica, Geneva, sans-serif;
  letter-spacing: 0.5px;
  color: #fff;
  text-align: center;
}
figure section {
  width: 128px;
  height: 80px;
  position: absolute;
  top: 28px;
  font: 600 65px/75px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
  letter-spacing: -2px;
  color: #607D8B;
  text-align: center;
  z-index: 10;
}
figure section:before {
  content: '';
  display: block;
  position: absolute;
  top: 35px;
  width: 3px;
  height: 10px;
  background-image: -webkit-linear-gradient(#b5bdc5 0%, #e5e5e5 100%);
  background-image: -moz-linear-gradient(#b5bdc5 0%, #e5e5e5 100%);
  background-image: -o-linear-gradient(#b5bdc5 0%, #e5e5e5 100%);
  background-image: linear-gradient(#b5bdc5 0%, #e5e5e5 100%);
}
figure section:after {
  content: '';
  display: block;
  position: absolute;
  top: 35px;
  right: 0;
  width: 3px;
  height: 10px;
  background-image: -webkit-linear-gradient(#b5bdc5 0%, #e5e5e5 100%);
  background-image: -moz-linear-gradient(#b5bdc5 0%, #e5e5e5 100%);
  background-image: -o-linear-gradient(#b5bdc5 0%, #e5e5e5 100%);
  background-image: linear-gradient(#b5bdc5 0%, #e5e5e5 100%);
}
.history-list {
  height: calc(100% - 40px);
  overflow: auto;
}
.center-content {
  min-height: 440px;
  overflow-y: auto;
}
