<div class="content col-xs-2 col-sm-2 col-md-2 col-lg-2">
</div>
<div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <table class="table table-condensed">
                <thead>
                    <tr>
                        <th style="width: 30%" data-ng-click="sort( 'name' );">
                            Nome
                            <i data-ng-show="sortKey === 'name'" data-ng-class="{ 'fa fa-angle-up' : reverse , 'fa fa-angle-down' : !reverse }"></i>
                        </th>
                        <th style="width: 30%" data-ng-click="sort( 'email' );">
                            Email
                            <i data-ng-show="sortKey === 'email'" data-ng-class="{ 'fa fa-angle-up' : reverse , 'fa fa-angle-down' : !reverse }"></i>
                        </th>
                        <th style="width: 25%" data-ng-click="sort( 'phone' );">
                            Telefone
                            <i data-ng-show="sortKey === 'phone'" data-ng-class="{ 'fa fa-angle-up' : reverse , 'fa fa-angle-down' : !reverse }"></i>
                        </th>
                        <th style="width: 15%" data-ng-click="sort( 'state' );">
                            Situação
                            <i data-ng-show="sortKey === 'state'" data-ng-class="{ 'fa fa-angle-up' : reverse , 'fa fa-angle-down' : !reverse }"></i>
                        </th>
                    </tr>
                </thead>
            </table>
        </div>
        <div class="panel-body">
            <input data-ng-model="filter" type="search" class="form-control" placeholder="Filtro" />
            <table class="table table-condensed">
                <tbody>
                    <tr class="tr" data-ng-class="{trselected: userSelected._id === user._id }" 
                                   data-ng-click="selectUser(user)" 
                                   dir-paginate="user in users | filter : $or : [ { name: filter } , { email: filter} ] | orderBy: sortKey: reverse | itemsPerPage: 10">
                        
                        <td style="width: 30%">{{user.name}}</td>
                        <td style="width: 30%">{{user.email}}</td>
                        <td style="width: 30%">{{user.phone}}</td>
                        <td style="width: 10%">{{user.state === 0 ? 'Ativo' : 'Inativo' }}</td>
                    </tr>
                </tbody>
            </table>
            <dir-pagination-controls max-size="10" direction-links="true" boundary-links="true"></dir-pagination-controls>
        </div>
    </div>
</div>
<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
    <button data-ng-click="user = getUserForm()" type="button" class="btn btn-primary btn-block" data-toggle="modal" data-target="#store">Novo</button>
    <button data-ng-disabled="!userSelected" data-ng-click="user = getUserForm(userSelected)" type="button" class="btn btn-primary btn-block" data-toggle="modal" data-target="#store">Editar</button>
    <button data-ng-disabled="!userSelected" data-ng-click="deleteUser( userSelected )"       type="button" class="btn btn-primary btn-block" >Excluir</button>
    
    <div ng-include="'partials/user/UserForm.html'"></div>
</div>