<div class="modal fade" data-backdrop="static" id="store" role="dialog">
    <div  style="width: 80%" class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h3 class="modal-title">{{!user._id ? 'Adicionar' : 'Editar' }} Usuário</h3>
            </div>
            <div class="modal-body">
                <form name="UserForm" ng-submit="storeUser(user)">

                    <div class="form-group row has-feedback" 
                         data-ng-class="{ 'has-success' : UserForm.name.$valid, 'has-error' : UserForm.name.$invalid }" >
                        <label class="col-sm-1" for="nameField">Nome</label>
                        <div class="form-group row col-sm-11">
                            <input ng-required="true" 
                                   ng-model="user.name" 
                                   name="name" 
                                   title="Nome é obrigatório"
                                   type="text"
                                   class="form-control" 
                                   id="nameField" 
                                   placeholder="Nome">
                        </div>
                    </div>
                    <div class="form-group row has-feedback" data-ng-class="{ 'has-error' : UserForm.email.$invalid, 'has-success' : UserForm.email.$valid}" >
                        <label class="col-sm-1"for="emailField">Email</label>
                        <div class="form-group row col-sm-11">
                            <input ng-required="true" ng-model="user.email" name="email" type="email" class="form-control" id="emailField" placeholder="email@exmple.com" required>
                        </div>
                    </div>

                    <div class="form-group row has-feedback" data-ng-class="{'has-error' : UserForm.phone.$invalid, 'has-success' : UserForm.phone.$valid}">
                        <label class="col-sm-1" for="phoneField">Telefone</label>
                        <div class="form-group row col-sm-11">
                            <input ng-model="user.phone" name="phone" type="text" class="form-control" id="phoneField" placeholder="(51) 9999-8888" required phone-filter>
                        </div>
                    </div>
                    <div class="form-group row has-feedback" data-ng-class="{'has-error' : UserForm.login.$invalid, 'has-success' : UserForm.login.$valid}">
                        <label class="col-sm-1" for="loginField" >Login</label>
                        <div class="form-group row col-sm-11">
                            <input ng-required="true" ng-model="user.login" name="login" type="text" class="form-control" id="loginField" placeholder="Login" required>
                        </div>
                    </div>

                    <div class="form-group row has-feedback" data-ng-class="{'has-error' : UserForm.password.$invalid, 'has-success' : UserForm.password.$valid}">
                        <label class="col-sm-1" for="passwordField">Senha</label>
                        <div class="form-group row col-sm-11">
                            <input ng-required="true" ng-model="user.password" name="password" type="password" class="form-control" id="passwordField" placeholder="Senha" required>
                        </div>
                    </div>

                    <!-- <state-selector ng-model="user.state"></state-selector> -->

                   <div class="form-group row has-feedback" data-ng-class="{'has-error' : !user.role, 'has-success' : user.role}">
                        <label class="col-sm-1" for="roleField">Categoria</label>
                        <div class="form-group row col-sm-11">
                            <select ng-required="true" name="role" class="form-control" id="roleField"ng-model="user.role">
                                <option value="">Selecione</option>
                                <option value="Administrador">Administrador</option>
                                <option value="Operador">Operador</option>
                            </select>
                        </div>
                    </div>


                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Fechar</button>
                        <input type="submit" value="Salvar" class="btn btn-success">
                    </div>
                </form>
            </div>
        </div>  
    </div>
</div>