<div class="modal fade" data-backdrop="static" id="store" role="dialog">
    <div  style="width: 80%" class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h3 class="modal-title">{{!posting._id ? 'Adicionar' : 'Editar' }} Lançamentos</h3>
            </div>
            <div class="modal-body">
                <form name="PostingForm" ng-submit="storePosting(posting)">

                    <!-- BEGIN TABS -->
                    <ul data-ng-model="tabActive" data-ng-init="tabActive = 'generalTab'" class="nav nav-tabs">
                        <li class="active"><a data-toggle="tab" data-ng-click="tabActive = 'generalTab'">Geral</a></li>
                        <li><a data-ng-show="! posting._id && posting.portionTotal  && posting.portionTotal > 1" data-toggle="tab" data-ng-click="tabActive = 'valuesTab'">Valores</a></li>
                        <li><a data-toggle="tab" data-ng-click="tabActive = 'infoTab'">Informações</a></li>
                        <li><a data-toggle="tab" data-ng-click="tabActive = 'attachmentTab'">Anexos</a></li>
                    </ul>
                    <!-- END TABS -->

                    <!-- BEGIN GENERAL PANE -->
                    <div class="tab-content">
                        <div id="generalTab" class="tab-pane active" data-ng-show="tabActive == 'generalTab'">
                            
                            <div class="form-group row">
                                <label class="col-sm-2 col-sm-2-form" for="nameField">Nome</label>
                                <div class="form-group row col-sm-10">
                                    <input ng-required="true" 
                                           ng-model="posting.name" 
                                           name="name" 
                                           title="Nome é obrigatório"
                                           type="text"
                                           class="form-control" 
                                           id="nameField" 
                                           placeholder="Nome"
                                           data-ng-disabled="isFinish">
                                </div>
                            </div>
                           
                           <div class="form-group row">
                                <mydate label="Data Estimada" 
                                        name="estimateDate" 
                                        mask="DD/MM/YYYY" 
                                        model="posting.estimateDate"
                                        required="true"
                                        disabled="isFinish">
                                </mydate>

                                <mydate label="Data Realizada" 
                                        name="realDate" 
                                        mask="DD/MM/YYYY" 
                                        model="posting.realDate">
                                </mydate>
                            </div>

                            <div class="form-group row">
                                <div>
                                    <label class="col-sm-2 col-sm-2-form" for="estimateValueField">Valor Estimado</label>
                                    <div class="form-group col-sm-4 col-sm-4-form">
                                    <input ng-required="true" 
                                           ng-model="posting.estimateValue" 
                                           name="estimateValue" 
                                           title="Valor é obrigatório"
                                           type="text"
                                           class="form-control" 
                                           id="estimateDateField" 
                                           data-ng-disabled="isFinish"
                                           money-mask>
                                    </div>
                                </div>
                                <div >
                                    <label class="col-sm-2 col-sm-2-form" for="realValueField">Valor Realizado</label>
                                    <div class="form-group col-sm-4 col-sm-4-form">
                                    <input ng-model="posting.realValue" 
                                           name="realValue" 
                                           type="text"
                                           class="form-control" 
                                           id="realValueField" 
                                           required="isFinish"
                                           money-mask>
                                    </div>
                                </div>
                            </div>
                            
                            <item-selector model="posting.entity" 
                                           items="entities" 
                                           size="10" 
                                           name="Entity" 
                                           title="Entidade"
                                           data-ng-show="! isFinish">  
                            </item-selector>
                        
                            <item-selector model="posting.category" 
                                           items="categories" 
                                           size="10" 
                                           name="Category" 
                                           title="Categoria"
                                           data-ng-show="! isFinish">
                            </item-selector>
                        
                            <item-selector model="posting.user" 
                                           size="10" 
                                           items="users" 
                                           name="User" 
                                           title="Responsável"
                                           data-ng-show="! isFinish">
                            </item-selector>
                            

                            <div class="form-group row" data-ng-show="! isFinish">
                                <div>
                                    <label class="col-sm-2 col-sm-2-form" for="completionAuto">Finaliza Automáticamente</label>
                                    <div class="form-group col-sm-6">
                                      <item-selector
                                               model="posting.completionAuto" 
                                               size="12"
                                               hidelabel="true"
                                               items="YesNoOptions" 
                                               name="completionAuto" 
                                               title="Finaliza Automáticamente">
                                      </item-selector>
                                    </div>
                                </div>
                                <div >
                                    <label class="col-sm-1" for="portionTotalField">Parcelas</label>
                                    <div class="form-group col-sm-3">
                                    <input ng-disabled="posting._id"
                                           ng-model="posting.portionTotal" 
                                           name="portionTotal" 
                                           type="text"
                                           class="form-control" 
                                           id="portionTotalField" 
                                           ui-number-mask="0" min="1" max="12">
                                    </div>
                                </div>
                            </div>

                          

                            <item-selector data-ng-show="posting.realValue || posting.realDate || posting.completionAuto.value || isFinish" 
                                           model="posting.completionType"
                                           items="completionTypes"
                                           size="10" 
                                           name="CompletionType" 
                                           title="Tipo Finalização">
                            </item-selector>

                        </div>

                        <!-- END GENERAL PANE -->

                        <!-- BEGIN VALUES PANE -->

                        <div id="valuesTab" class="tab-pane active" data-ng-show="tabActive == 'valuesTab'">
                            <ul class="col-sm-12">
                                <li data-ng-repeat="portion in createPortions( posting ) track by $index">
                                    <div class="form-group row">
                                      
                                        <mydate label="Data Estimada" 
                                                name="{{ 'valueDate' + $index}}" 
                                                mask="DD/MM/YYYY" 
                                                model="portion.estimateDate"
                                                required="true">
                                        </mydate>

                                        
                                        <div>
                                            <label class="col-sm-2 col-sm-2-form" for="{{ 'estimateValue' + $index }}">Valor Estimado</label>
                                            <div class="form-group col-sm-4 col-sm-4-form">
                                            <input ng-required="true" 
                                                   ng-model="portion.estimateValue" 
                                                   name="{{ 'estimateValue' + $index }}" 
                                                   title="Valor é obrigatório"
                                                   type="text"
                                                   class="form-control" 
                                                   id="{{ 'estimateValue' + $index }}" 
                                                   money-mask>
                                            </div>
                                        </div>                                     

                                      </div>
                                  </li>
                              </ul> 
                        </div>

                        <!-- END VALUES PANE -->

                        <!-- BEGIN INFO PANE -->                        

                        <div id="infoTab" class="tab-pane active" data-ng-show="tabActive == 'infoTab'">
                            <textarea data-ng-model="posting.info" class="form-control" rows="16"></textarea>
                        </div>

                        <!-- END INFO PANE -->


                        <!-- BEGIN ATTACHMENT PANE -->                        

                        <div id="attachmentTab" class="tab-pane active" data-ng-show="tabActive == 'attachmentTab'">
                            <myfile style="height: 350px;" model="posting.attachments" name="attachments" label="Anexos"></myfile> 
                        </div>

                        <!-- END ATTACHMENT PANE -->                        
                   

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Fechar</button>
                        <input type="submit" value="Salvar" class="btn btn-success">
                    </div>

                </form>
            </div>
        </div>  
    </div>
</div>