<div class="modal fade" data-backdrop="static" id="store" role="dialog">
    <div  style="width: 80%" class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h3 class="modal-title">{{!posting._id ? 'Adicionar' : 'Editar' }} Lançamentos</h3>
            </div>
            <div class="modal-body">
                <form name="PostingForm" ng-submit="storePosting(posting)">

                    <!-- BEGIN TABS -->
                    <ul data-ng-model="tabActive" data-ng-init="tabActive = 'generalTab'" class="nav nav-tabs">
                        <li class="active"><a data-toggle="tab" data-ng-click="tabActive = 'generalTab'">Geral</a></li>
                        <li><a data-toggle="tab" data-ng-click="tabActive = 'infoTab'">Informações</a></li>
                        <li><a data-toggle="tab" data-ng-click="tabActive = 'attachmentTab'">Anexos</a></li>
                    </ul>
                    <!-- END TABS -->

                    <!-- BEGIN GENERAL PANE -->
                    <div class="tab-content">
                        <div id="generalTab" class="tab-pane active" data-ng-show="tabActive == 'generalTab'">
                            
                            <div class="form-group row">
                                <label class="col-sm-2 col-sm-2-form" for="nameField">Nome</label>
                                <div class="form-group row col-sm-10">
                                    <input ng-required="true" 
                                           ng-model="posting.name" 
                                           name="name" 
                                           title="Nome é obrigatório"
                                           type="text"
                                           class="form-control" 
                                           id="nameField" 
                                           placeholder="Nome">
                                </div>
                            </div>

                            <div class="form-group row">
                                <mydate label="Data Estimada" 
                                        name="estimateDate" 
                                        mask="DD/MM/YYYY" 
                                        model="posting.estimateDate"
                                        required="true">
                                </mydate>

                                <mydate label="Data Realizada" 
                                        name="realDate" 
                                        mask="DD/MM/YYYY" 
                                        model="posting.realDate">
                                </mydate>
                            </div>

                            <div class="form-group row">
                                <div>
                                    <label class="col-sm-2 col-sm-2-form" for="estimateValueField">Valor Estimada</label>
                                    <div class="form-group col-sm-4 col-sm-4-form">
                                    <input ng-required="true" 
                                           ng-model="posting.estimateValue" 
                                           name="estimateValue" 
                                           title="Valor é obrigatório"
                                           type="text"
                                           class="form-control" 
                                           id="estimateDateField" 
                                           ui-money-mask  >
                                    </div>
                                </div>
                                <div >
                                    <label class="col-sm-2 col-sm-2-form" for="realValueField">Valor Realizada</label>
                                    <div class="form-group col-sm-4 col-sm-4-form">
                                    <input ng-model="posting.realValue" 
                                           name="realValue" 
                                           type="text"
                                           class="form-control" 
                                           id="realValueField" 
                                           ui-money-mask>
                                    </div>
                                </div>
                            </div>
                            
                            <item-selector model="posting.entity" 
                                           items="entities" 
                                           size="10" 
                                           name="Entity" 
                                           title="Entidade">  
                            </item-selector>
                        
                            <item-selector model="posting.category" 
                                           items="categories" 
                                           size="10" 
                                           name="Category" 
                                           title="Categoria">
                            </item-selector>
                        
                            <item-selector model="posting.user" 
                                           size="10" 
                                           items="users" 
                                           name="User" 
                                           title="Responsável">
                            </item-selector>
                            
                            <item-selector model="posting.completionAuto" 
                                           size="10" 
                                           items="[ { name : 'Sim', value: true },
                                                    { name:  'Não', value: false } ]" 
                                           name="completionAuto" 
                                           title="Finaliza Automáticamente">
                            </item-selector>

                            <item-selector data-ng-show="posting.realValue || posting.realDate || posting.completionAuto.value" 
                                           data-ng-model="posting.completionType"
                                           items="completionTypes"
                                           size="10" 
                                           name="CompletionType" 
                                           title="Tipo Finalização">
                            </item-selector>

                        </div>

                        <!-- END GENERAL PANE -->

                        <!-- BEGIN INFO PANE -->                        

                        <div id="infoTab" class="tab-pane active" data-ng-show="tabActive == 'infoTab'">
                            <textarea data-ng-model="posting.info" class="form-control" rows="16"></textarea>
                        </div>

                        <!-- END INFO PANE -->


                        <!-- BEGIN ATTACHMENT PANE -->                        

                        <div id="attachmentTab" class="tab-pane active" data-ng-show="tabActive == 'attachmentTab'">
                            <myfile style="height: 350px;" model="posting.attachments" name="attachments" label="Anexos"></myfile> 
                        </div>


                        <!-- END ATTACHMENT PANE -->                        
                   

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Fechar</button>
                        <input type="submit" value="Salvar" class="btn btn-success">
                    </div>

                </form>
            </div>
        </div>  
    </div>
</div>

<!-- ATTAACHMENT FORM -->

<div class="modal fade" data-backdrop="static" id="addAttachment" role="dialog">
    <div  style="width: 40%" class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h3 class="modal-title">Adicionar Anexo</h3>
            </div>
            <div class="modal-body">
                
                <form name="AttachmentForm" data-ng-submit="sssss" novalidate>
                
                  <input class="form-group btn btn-strom" fileread="posting.attachments" type="file">

                  <div class="form-group row has-feedback" 
                       data-ng-class="{ 'has-success' : AttachmentForm.name.$valid, 'has-error' : AttachmentForm.name.$invalid }" >
                      <label class="col-sm-2 col-sm-2-form" for="attachmentNameField">Nome</label>
                      <div class="form-group row col-sm-10">
                          <input ng-required="true" 
                                 ng-model="attachement.name" 
                                 name="name" 
                                 title="Nome é obrigatório"
                                 type="text"
                                 class="form-control" 
                                 id="attachmentNameField" 
                                 placeholder="Nome">
                      </div>
                  </div>
                  
                  <div class="form-group">
                      <label class="col-sm-2 col-sm-2-form" for="attachmentInfoField">Informações</label>
                      <textarea id="attachmentInfoField" data-ng-model="attachment.info" class="form-control" rows="8"></textarea>
                  </div>
  

                </form>
                
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Fechar</button>
                    <input type="submit" value="Salvar" class="btn btn-success">
                </div>
            </div>
        </div>  
    </div>
</div>