<div class="calculator">
    <i id="calc-close" role="button" class="fa fa-window-close window-calculator" style="margin-right: 15px" aria-hidden="true"></i>
    <i id="calc-max" role="button" class="fa fa-window-maximize window-calculator" aria-hidden="true"></i>
    <i id="calc-min" role="button" class="fa fa-window-minimize window-calculator" aria-hidden="true"></i>
    <p class="title-calculator">Strom</p>
    <div class="calc-row">
      <div class="screen"></div>
    </div>

    <div class="calc-row">
      <div class="button-calculator">C</div><div class="button-calculator">CE</div><div class="button-calculator backspace">back</div><div class="button-calculator plus-minus">+/-</div><div class="button-calculator">%</div>
    </div>

    <div class="calc-row">
      <div class="button-calculator">7</div><div class="button-calculator">8</div><div class="button-calculator">9</div><div class="button-calculator divice">/</div><div class="button-calculator root">sqrt</div>
    </div>

    <div class="calc-row">
      <div class="button-calculator">4</div><div class="button-calculator">5</div><div class="button-calculator">6</div><div class="button-calculator multiply">*</div><div class="button-calculator inverse">1/x</div>
    </div>

    <div class="calc-row">
      <div class="button-calculator">1</div><div class="button-calculator">2</div><div class="button-calculator">3</div><div class="button-calculator">-</div><div class="button-calculator pi">pi</div>
    </div>

    <div class="calc-row">
      <div class="button-calculator zero">0</div><div class="button-calculator decimal">.</div><div class="button-calculator">+</div><div class="button-calculator equal">=</div>
    </div>
</div>
