<div class="pane-center col-xs-10 col-sm-10 col-md-10 col-lg-10">
   
    <div class="row">
        <div class="col-xs-10">
            <div class="progress">
				<div class="progress-bar progress-bar-success" 
					 role="progressbar" 
					 aria-valuenow="{{percentRevenue}}" 
					 aria-valuemin="0" 
					 aria-valuemax="100"
					 style="width: {{percentRevenue }}%" >
				    <span>{{percentRevenue + '% Receitas'}}</span>
				</div>
			</div>
        </div>
        <div class="col-xs-2">
            <span style="font-weight: bold; color: #5cb85c">R$ {{groupRevenue.realValue.toFixed(2)}}</span>
        </div>
    </div>
	<div class="row">
        <div class="col-xs-10">
            <div class="progress">
		  		<div class="progress-bar progress-bar-danger" 
		  		     role="progressbar" 
		  		     aria-valuenow="{{percentCost}}" 
		  		     aria-valuemin="0" 
		  		     aria-valuemax="100"
		  		     style="width: {{percentCost}}%" >
					<span>{{ percentCost  + '% Despesas' }}</span>
					</div>
			</div>
    	</div>
        <div class="col-xs-2">
            <span style="font-weight: bold; color: #d9534f;">R$ {{groupCost.realValue.toFixed(2)}}</span>
        </div>
    </div>
    
    <history-box data-ng-model="groupMonth"></history-box>
<div>