<div class="panel-footer">
    <table>
        <tr>
            <td>
                <div class="panel-lengend">
                    <img data-ng-src="icons/new.png" class="lengend-icon"></img>
                    Cadastrado
                </div>
            </td>
            <td>
                <div class="panel-lengend">
                    <img data-ng-src="icons/play.png" class="lengend-icon"></img>
                    Em Andamento
                </div>
            </td>
            <td>
                <div class="panel-lengend">
                    <img data-ng-src="icons/finish.png" class="lengend-icon"></img>
                    Finalizado
                </div>
            </td>
            <td>
                <div class="panel-lengend">
                    <img data-ng-src="icons/delete.png" class="lengend-icon"></img>
                    Excluido
                <div>
            </td>
        </tr>
    </table>
</div>