<button data-ng-click="category = getCategoryForm()" type="button" class="btn btn-strom btn-block" data-toggle="modal" data-target="#store">
    <img src="icons/new.png" class="btn-icon"></img>
    Novo
</button>
<button data-ng-disabled="!categorySelected" data-ng-click="category = getCategoryForm(categorySelected)" type="button" class="btn btn-strom btn-block" data-toggle="modal" data-target="#store">
    <img src="icons/edit.png" class="btn-icon"></img>
    Editar
</button>
<button data-ng-disabled="!categorySelected" data-ng-click="deleteCategory( categorySelected )" type="button" class="btn btn-strom btn-block" >
    <img src="icons/delete.png" class="btn-icon"></img>
    Excluir
</button>