<html data-ng-app="Strom">
    <head>
        <title>Strom</title>
        <!-- build:css css/index.min.css -->
        <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
        <link rel="stylesheet"  type="text/css" href="/vendor/bootstrap3-dialog/dist/css/bootstrap-dialog.min.css">
        <link rel="stylesheet"  type="text/css" href="/vendor/bootstrap/dist/css/bootstrap.min.css">
        <link rel="stylesheet"  type="text/css" href="/vendor/components-font-awesome/css/font-awesome.min.css">
        <link rel="stylesheet"  type="text/css" href="/css/default.css">
        <!-- endbuild -->
    </head>
    <body>
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">Strom</a>
                </div>
                <div class="nav navbar-nav navbar-right">
                    <a class="navbar-brand" href="/logout"><%=currentUser %></a>
                </div>
            </div>
        </nav>
        <div ng-include="'partials/menu/menuPane.html'"></div>
        <data-ng-view></data-ng-view>
        <footer class="footer">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">Strom</a>
                </div>
                <div class="nav navbar-nav navbar-right">
                    <a class="navbar-brand" href="/logout"><%=currentUser %></a>
                </div>
            </div>
        </footer>
    </body>
    <!-- build:js js/index.min.js -->
    <script type="text/javascript" src="/vendor/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/vendor/angular/angular.min.js"></script>
    <script type="text/javascript" src="/vendor/angular-route/angular-route.min.js"></script>
    <script type="text/javascript" src="/vendor/angular-resource/angular-resource.min.js"></script>
    <script type="text/javascript" src="/vendor/angularUtils-pagination/dirPagination.js"></script>
    <script type="text/javascript" src="/vendor/bootstrap3-dialog/dist/js/bootstrap-dialog.min.js"></script>
    <script type="text/javascript" src="/js/Message.js"></script>
    <script type="text/javascript" src="/js/application.js"></script>

    <script type="text/javascript" src="/js/controllers/EntriesController.js"></script>

    <script type="text/javascript" src="/js/controllers/CategoryController.js"></script>
    <script type="text/javascript" src="/js/services/CategoryService.js"></script>
    <script type="text/javascript" src="/partials/Category/CategoryViews.js"></script>
    
    <script type="text/javascript" src="/js/controllers/UserController.js"></script>
    <script type="text/javascript" src="/js/services/UserService.js"></script>
    <script type="text/javascript" src="/partials/User/UserViews.js"></script>
        
    <script type="text/javascript" src="/js/controllers/CompletionTypeController.js"></script>
    <script type="text/javascript" src="/js/services/CompletionTypeService.js"></script>
    <script type="text/javascript" src="/partials/CompletionType/CompletionTypeViews.js"></script>
    
    <script type="text/javascript" src="/js/controllers/EntityController.js"></script>
    <script type="text/javascript" src="/js/services/EntityService.js"></script>
    
    <script type="text/javascript" src="/js/services/InterceptorService.js"></script>
    <script type="text/javascript" src="/directives/PhoneFilter.js"></script>
    <script type="text/javascript" src="/directives/DefaultTable.js"></script>
    <!-- endbuild -->
</html>