<html lang="pt" data-ng-app="Strom">
    <head>
        <title>Strom</title>
        <meta http-equiv="content-language" content="pt" charset="UTF-8">
        <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
        <link rel="stylesheet"  type="text/css" href="/vendor/bootstrap3-dialog/dist/css/bootstrap-dialog.min.css">
        <link rel="stylesheet"  type="text/css" href="/vendor/bootstrap/dist/css/bootstrap.min.css">
        <link rel="stylesheet"  type="text/css" href="/vendor/components-font-awesome/css/font-awesome.min.css">
        <!-- build:css css/index.min.css -->
        <link rel="stylesheet"  type="text/css" href="/css/datepicker.css">
        <link rel="stylesheet"  type="text/css" href="/css/default.css">
        <!-- endbuild -->
    </head>
    <body data-ng-controller="AuthController">
        <div id="preload" class="preload">
            <div class="fa fa-refresh fa-pulse fa-3x fa-fw preload-center"></div>
        </div>
        <%if( ! currentUser ) { %>
        <div id="login" class="container login-center" style="width: 500px; margin: auto">
            <form class="form-signin">
                <h2 class="form-signin-heading">Strom</h2>
                <label for="inputLogin" class="sr-only">Login</label>
                <input data-ng-required="true" data-ng-model="user.username" name="username" type="text" id="inputLogin" class="form-control" placeholder="Login" autofocus required>
                <label for="inputPassword" class="sr-only">Senha</label>
                <input data-ng-required="true" data-ng-model="user.password" name="password" type="password" id="inputPassword" class="form-control" placeholder="Senha" required>

                <button class="btn btn-lg btn-login btn-block" type="button" data-ng-click="login( user )"> Sign in</button>
            </form>
            <div id="error-login" class="alert-danger" style="display: none">
                ERRO: Login ou senha incorretos
            </div>
        </div>

        <%} else { %>
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">Strom</a>
                </div>
                <div class="nav navbar-nav navbar-right">
                    <a class="navbar-brand" style="cursor: pointer;" data-ng-click="logout();"><%=currentUser.name %></a>
                </div>
            </div>
        </nav>
        <div ng-include="'partials/Menu/MenuPane.html'"></div>
        <data-ng-view></data-ng-view>
        <%}%>
    </body>
        
        <!-- build:js js/index.min.js -->
        <script type="text/javascript" src="/vendor/jquery/dist/jquery.min.js"></script>
        <script type="text/javascript" src="/vendor/jquery-ui/jquery-ui.min.js"></script>
        <script type="text/javascript" src="/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="/vendor/angular/angular.min.js"></script>
        <!-- <script type="text/javascript" src="/vendor/angular-input-masks/angular-input-masks-standalone.min.js"></script> -->
        <script type="text/javascript" src="/vendor/highcharts/highcharts.js"></script>
        <script type="text/javascript" src="/vendor/highcharts/modules/drilldown.js"></script>
        <!-- <script type="text/javascript" src="/vendor/bootstrap-switch/dist/js/bootstrap-switch.js"></script> -->
        <script type="text/javascript" src="/vendor/angular-route/angular-route.min.js"></script>
        <script type="text/javascript" src="/vendor/angular-resource/angular-resource.min.js"></script>
        <script type="text/javascript" src="/vendor/angularUtils-pagination/dirPagination.js"></script>
        <script type="text/javascript" src="/vendor/bootstrap3-dialog/dist/js/bootstrap-dialog.min.js"></script>
        <!-- <script type="text/javascript" src="/vendor/angular-bootstrap-switch/dist/angular-bootstrap-switch.js"></script> -->
        <script type="text/javascript" src="/vendor/moment/min/moment-with-locales.js"></script>
        <script type="text/javascript" src="/vendor/ng-file-upload/ng-file-upload-shim.min.js"></script>
        <script type="text/javascript" src="/vendor/ng-file-upload/ng-file-upload.min.js"></script>
                
        <script type="text/javascript" src="/js/Message.js"></script>
        <script type="text/javascript" src="/js/Session.js"></script>
        <script type="text/javascript" src="/js/application.js"></script>

        <script type="text/javascript" src="/js/controllers/EntriesController.js"></script>
        <script type="text/javascript" src="/js/controllers/ReportController.js"></script>
        <script type="text/javascript" src="/js/controllers/AuthController.js"></script>

        <script type="text/javascript" src="/js/controllers/CategoryController.js"></script>
        <script type="text/javascript" src="/js/services/CategoryService.js"></script>
        <script type="text/javascript" src="/partials/Category/CategoryViews.js"></script>
        
        <script type="text/javascript" src="/js/controllers/UserController.js"></script>
        <script type="text/javascript" src="/js/services/UserService.js"></script>
        <script type="text/javascript" src="/partials/User/UserViews.js"></script>
            
        <script type="text/javascript" src="/js/controllers/CompletionTypeController.js"></script>
        <script type="text/javascript" src="/js/services/CompletionTypeService.js"></script>
        <script type="text/javascript" src="/partials/CompletionType/CompletionTypeViews.js"></script>
        
        <script type="text/javascript" src="/js/controllers/EntityController.js"></script>
        <script type="text/javascript" src="/js/services/EntityService.js"></script>
        <script type="text/javascript" src="/partials/Entity/EntityViews.js"></script>
        
        <script type="text/javascript" src="/js/controllers/PostingController.js"></script>
        <script type="text/javascript" src="/js/services/PostingService.js"></script>
        <script type="text/javascript" src="/partials/Posting/PostingViews.js"></script>
        
        <script type="text/javascript" src="js/controllers/AnalysisController.js"></script>
        <script type="text/javascript" src="js/controllers/HomeController.js"></script>

        <script type="text/javascript" src="/js/services/InterceptorService.js"></script>
        
        <script type="text/javascript" src="/directives/PhoneFilter.js"></script>
        <script type="text/javascript" src="/directives/CnpjFilter.js"></script>
        <script type="text/javascript" src="/directives/StateSelector.js"></script>
        <script type="text/javascript" src="/directives/ItemSelector.js"></script>
        <script type="text/javascript" src="/directives/Fileread.js"></script>

        <script type="text/javascript" src="/directives/mypanel.js"></script>
        <script type="text/javascript" src="/directives/mytable.js"></script>
        <script type="text/javascript" src="/directives/myform.js"></script>
        <script type="text/javascript" src="/directives/mytext.js"></script>
        <script type="text/javascript" src="/directives/myhidden.js"></script>
        <script type="text/javascript" src="/directives/mycheckbox.js"></script>
        <script type="text/javascript" src="/directives/mytabs.js"></script>
        <script type="text/javascript" src="/directives/mytabcontent.js"></script>
        <script type="text/javascript" src="/directives/myselect2.js"></script>
        <script type="text/javascript" src="/directives/myfile.js"></script>
        <script type="text/javascript" src="/directives/myDate.js"></script>
        <script type="text/javascript" src="/directives/DatePicker.js"></script>
        <script type="text/javascript" src="/directives/MoneyMask.js"></script>
        <script type="text/javascript" src="/directives/Inspect.js"></script>
    <!-- endbuild -->
</html>